<app-button 
    id='save-doc-btn'
    class="btn-center" 
    color="#EB6797" 
    text="Save" 
    (btnClick)="onSave()">
</app-button>
<app-button 
    id='new-doc-btn'
    class="btn-center" 
    color="#EB6797" 
    text="New" 
    (btnClick)="newDoc()">
</app-button>
<app-button 
    id='toggle-list-btn'
    class="btn-center" 
    color="#EB6797" 
    text="{{showDocList ? 'Close' : 'List'}}" 
    (btnClick)="toggleShowList()">
</app-button>
<app-document-list 
    *ngIf="showDocList" 
    class="document-list" 
    [documents]="documents" 
    (onSelectDoc)="changeDoc($event)">
</app-document-list>