.invite-dialog-actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.invite-dialog-content {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}