<mat-card *ngIf="activeDoc.editors.length > 0 || userIsDocumentOwner()" fxFlex="100" fxLayoutGap="0" fxLayout="column" class="editor-list-wrapper">
    <mat-toolbar color="primary" class="editor-list-toolbar" margin=0>
        <div (click)="toggleShowEditors()" class="editor-list-toggle">
            <span>Editors</span>
            <mat-icon class="show-editors-arrow">{{ showEditors? "expand_less" : "expand_more" }}</mat-icon>
        </div>
        <button
            *ngIf="showEditors"
            class="email-editor-button"
            mat-icon-button
            aria-label="Button with a paper plane icon, indicating that you can e-mail new editors here."
            (click)="openInviteDialog()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-toolbar>
    <div *ngIf="showEditors" class="doc-owner" color="secondary">
        <span>Owner: {{ activeDoc.owner.username }}</span>
    </div>
    <mat-list *ngIf="!userIsDocumentOwner() && showEditors" class="list-editors-nonowner">
        <mat-list-item 
            *ngFor="let editor of getDocEditorsExceptOwner();"
            class="item-editor-nonowner">
            {{ editor.username }}
        </mat-list-item>
    </mat-list>
    <mat-selection-list  *ngIf="userIsDocumentOwner() && showEditors" class="list-editors-owner">
        <mat-list-option
            *ngFor="let editor of getAllEditorsExceptOwner();"
            (click)="toggleEditor(editor.id)"
            [selected]="isDocumentEditor(editor.id)"
            class="option-editor-owner">
            {{ editor.username }}
        </mat-list-option>
    </mat-selection-list>
</mat-card>