.editor-list-wrapper {
    padding: 0;
    margin: 0 0 1rem;
}
.editor-list-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}
// .list-editors-nonowner {
//     max-width: 20rem;
//     display: flex;
//     flex-flow: row;
//     flex-wrap: wrap;
//     justify-content: space-between;

//     li {
//         text-decoration: none;
//         list-style: none;
//         margin-right: 2rem;
//         font-size: 1rem;
//     }
// }

.mat-list-option.option-editor-owner,
.mat-list-item.item-editor-nonowner {
    display: inline-block;
    width: 50%;
}

.mat-list-option.option-editor-owner:nth-child(3n),
.mat-list-option.option-editor-owner:nth-child(4n),
.mat-list-item.item-editor-nonowner:nth-child(3n),
.mat-list-item.item-editor-nonowner:nth-child(4n) {
    background-color: #fafafa;
}

.list-editors-owner,
.list-editors-nonowner {
    max-height: 10rem;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .list-editors-owner,
    .list-editors-nonowner {
        max-height: 30vh;
        overflow-y: scroll;
    }

    .mat-list-option.option-editor-owner,
    .mat-list-item.item-editor-nonowner {
        display: block;
        width: 100%;
    }

    .mat-list-option.option-editor-owner:nth-child(3n),
    .mat-list-item.item-editor-nonowner:nth-child(3n) {
        background-color: inherit;
    }

    .mat-list-option.option-editor-owner:nth-child(2n),
    .mat-list-item.item-editor-nonowner:nth-child(2n) {
        background-color: #fafafa;
    }
}

.doc-owner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #C147D7;
    font-size: 1.2rem;
    height: 1.5rem;
    color: #fff;
}

.email-editor-button {
    margin-left: auto;
}