.custom-quill-editor {
    margin-bottom: 5rem;
}

.editor-toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    border-bottom-style: dotted;
    border-width: 2px;
    width: 100vw;
    margin-bottom: 1rem;
    background-color: #6B2F45;
}