.editor-area-wrapper {
    display: grid;
    justify-items: center;
}

.custom-quill-editor {
    margin-bottom: 5rem;
}

.editor-toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    border-bottom-style: dotted;
    border-width: 2px;
    width: 100vw;
    margin-bottom: 1rem;
    background-color: #6B2F45;
}

.document-title-field {
    text-align: center;
}

#doc-to-pdf-btn .mat-icon {
    transform: scale(1.3);
}

.mat-card.doc-title-pdf-wrapper {
    margin-bottom: 1rem;
}