.editor-area-wrapper {
    display: grid;
    justify-items: center;
}

.custom-quill-editor {
    margin-bottom: 5rem;
}

.editor-toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-wrap: nowrap; */
    justify-content: space-around;
    border-bottom-style: dotted;
    border-width: 2px;
    width: 100vw;
    margin-bottom: 1rem;
    background-color: #6B2F45;
}

.document-title-field {
    background-color: #6B2F45;
    color: #fefefe;
    text-align: center;
    border:none;
    border-radius: 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}