.document-list-ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}