<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="33" [fxFlex.sm]="90" [fxFlex.xs]="90" fxLayoutGap="20px" fxLayout="column" class="form-wrapper">
        <mat-toolbar color="primary">Login form</mat-toolbar>
        <div 
            *ngIf="showIncorrect" 
            class='alert'>
            <p>The provided username or password was incorrect. Please try again.</p>
        </div>
        <form 
            #f="ngForm" 
            class="example-form" 
            fxLayout="column"
            fxLayoutGap="20px"
            fxFlexFill
            (ngSubmit)="loginUser(f)">
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input 
                matInput minlength=3 name="username" type="text" ngModel required>
            </mat-form-field>
          
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput minlength=6 name="password" type="password" ngModel required>
            </mat-form-field>
            <button mat-raised-button color="accent" name="login-btn" type="submit">Log in</button>
            <button 
                mat-stroked-button color="accent" 
                name="register-btn"
                routerLink="/register">
            Register
            </button>
          </form>
    </mat-card>
</div>
